VideoZoneV2/Service References/UploadService/Upload.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50939/Upload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoZoneV2.Web" />
  <xs:element name="DoUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="videoname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sharedTo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="append" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VideoZoneV2.Web" minOccurs="0" name="DoUploadResult" nillable="true" type="q1:UploadFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunk">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocUrl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Offset" type="xs:long" />
        <xs:element minOccurs="0" name="BufferSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadChunkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DownloadChunkResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>