VideoZoneV2/Service References/UploadService/Upload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:50939/Upload.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:50939/Upload.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50939/Upload.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VideoZoneV2.Web" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Upload_DoUpload_InputMessage">
    <wsdl:part name="parameters" element="DoUpload" />
  </wsdl:message>
  <wsdl:message name="Upload_DoUpload_OutputMessage">
    <wsdl:part name="parameters" element="DoUploadResponse" />
  </wsdl:message>
  <wsdl:message name="Upload_DownloadChunk_InputMessage">
    <wsdl:part name="parameters" element="DownloadChunk" />
  </wsdl:message>
  <wsdl:message name="Upload_DownloadChunk_OutputMessage">
    <wsdl:part name="parameters" element="DownloadChunkResponse" />
  </wsdl:message>
  <wsdl:portType name="Upload">
    <wsdl:operation name="DoUpload">
      <wsdl:input wsaw:Action="urn:Upload/DoUpload" message="Upload_DoUpload_InputMessage" />
      <wsdl:output wsaw:Action="urn:Upload/DoUploadResponse" message="Upload_DoUpload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadChunk">
      <wsdl:input wsaw:Action="urn:Upload/DownloadChunk" message="Upload_DownloadChunk_InputMessage" />
      <wsdl:output wsaw:Action="urn:Upload/DownloadChunkResponse" message="Upload_DownloadChunk_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>