VideoZoneV2/Service References/InsertDataSrv/Insert1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VideoZoneV2.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VideoZoneV2.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDeleted" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MsgContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgID" type="xs:int" />
      <xs:element minOccurs="0" name="SentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfvMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vMessage" nillable="true" type="tns:vMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvMessage" nillable="true" type="tns:ArrayOfvMessage" />
  <xs:complexType name="vMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MsgID" type="xs:int" />
      <xs:element minOccurs="0" name="SentDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SentTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vMessage" nillable="true" type="tns:vMessage" />
  <xs:complexType name="ArrayOfviewSharedVideo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="viewSharedVideo" nillable="true" type="tns:viewSharedVideo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfviewSharedVideo" nillable="true" type="tns:ArrayOfviewSharedVideo" />
  <xs:complexType name="viewSharedVideo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SharedTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="viewSharedVideo" nillable="true" type="tns:viewSharedVideo" />
  <xs:complexType name="ArrayOfviewVideo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="viewVideo" nillable="true" type="tns:viewVideo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfviewVideo" nillable="true" type="tns:ArrayOfviewVideo" />
  <xs:complexType name="viewVideo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SharedTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="viewVideo" nillable="true" type="tns:viewVideo" />
  <xs:complexType name="ArrayOfviewUsername">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="viewUsername" nillable="true" type="tns:viewUsername" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfviewUsername" nillable="true" type="tns:ArrayOfviewUsername" />
  <xs:complexType name="viewUsername">
    <xs:sequence>
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="viewUsername" nillable="true" type="tns:viewUsername" />
</xs:schema>